useDynLib(Rgtsvm)

import(graphics)
import(grDevices)

export(load.svmlight)
export(svm)
export(predict.gtsvm)
export(print.gtsvm)
export(tune.svm)
export(tune.control)
export(plot.tune)
export(summary.tune)
export(print.summary.tune)


S3method(summary, gtsvm)
S3method(plot, gtsvm)
S3method(predict, gtsvm)
S3method(print, gtsvm)
S3method(print, summary.gtsvm)
S3method(svm, default)
S3method(svm, formula)
S3method(summary, tune)
S3method(plot, tune)
S3method(print, summary.tune)
